{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %} log: {{ appid }}:{{ vercode }} - F-Droid Monitor{% end %}

{% block content %}
<h2>log for {{ appid }}:{{ vercode }}</h2>

<pre class="code">
{% for idx, log_line in enumerate(log_lines) %}<span id="L{{idx + 1}}" class="tr{% if idx == 0 %} first-row{% end %}"><span class="th"></span><code>{{ log_line.strip() }}</code></span>{% end %}
</pre>

{% end %}
