{#
SPDX-FileCopyrightText: 2023 Michael Pöhn <michael@poehn.at>
SPDX-License-Identifier: AGPL-3.0-or-later
#}{% whitespace oneline %}

{% extends "base.html" %}

{% block title %}services - F-Droid Monitor{% end %}


{% block content %}

Continous monitoring of f-droid.org online services.

{% for section_name, section in sections.items() %}
  <h2>{{ section['title'] }}</h2>
  {{ section['description'] }}
  <div class="container">
  {% for name, sdef in defs.items() %}
    {% if section_name == sdef['section'] %}
      <div class="row">
        <div class="col-12 col-lg-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {% if sdef["link"] %}<a target="_blank" href="{{ sdef["url"] }}">{% end %}
            {{ name }}
          {% if sdef["link"] %}</a>{% end %}
        </div>
        <div class="col-12 col-lg-9">
          {% for i, s in enumerate(timeseries[name]) %}<div title="{{ name + "\n\n" }}{{ s["message"] }}{{ s["timestamp"] }}{{ "\n" + naturaltime(s["timestamp"]) }}" style="background-color:{% if s['online'] == "y" %}#1976d2{% elif s['online'] == "p" %}#8ab000{% else %}#b00020{% end %}; border-radius:3px; margin-left:3px; width:6px; height:16px; display:inline-block; color: white; opacity:{{ 1-(0.6*(i+1.0)/len(timeseries[name])) }}; position:relative;float:right;">{% if s['online'] == "n" %}"{% end %}</div>{% end %}
        </div>
      </div>
    {% end %}
  {% end %}
  </div>
{% end %}

<h2>Other continous monitoring</h2>

<ul>
  <li><a href="/services/tls-certs">TLS certificate transparency log</a></li>
</ul>

{% end %}
